{% extends 'base.html' %}

{% block title %}
Биография Скриптонита
{% endblock %}

{% block body %}
<div class="container" id="fon">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="photo">
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0" >
      <img class="phoot" id="fuck" src="static/img/A.jpg" align="right" height="320" weight="280">
        <h1 class="display-4 fst-italic" id="cyan"><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Title of a longer featured blog post" data-translation="Биография и творческий путь Ади́ль Оралбе́кович Жале́лов (Скриптонит)" data-ch="0" data-type="trSpan" data-selected="false">Биография и творческий путь Ади́ль Оралбе́кович Жале́лов (Скриптонит)</ya-tr-span></h1>
      <p class="lead my-3" id="cun"><ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Why would someone take their own life intentionally? Do people who commit suicide realize what they are doing? And what can happen in life to resort to such a measure?" data-translation="С чего всё началось? Каков был путь и через какие трудности пришлось пройти? Трудный ли был творческий путь Скрипа?" data-ch="0" data-type="trSpan" data-selected="false">С чего всё началось? Каков был путь и через какие трудности пришлось пройти? Трудный ли был творческий путь Скрипа?</ya-tr-span></p>
      </div>
  </div>
    </div>
<div class="container">
  <div class="col-md-8">
      <div class="blog-post">
          <h4 class="navigator">Навигация</h4>
          <p><a class="justy" href="#1h">Начало пути</a></p>
          <p><a class="justy" href="#2h">Как образовалось прозвищем рэпера Скриптонит</a></p>
          <p><a class="justy" href="#3h">Творчество<a/></p>
          <p><a class="justy" href="#4h">Личная жизнь Скриптонита</a></p>
          <p><a class="justy" href="#5h">Популярная песня Скриптонита</a></p>
        <h1 class="blog-post-title" id="1h" >Начало пути</h1>
        <p class="blog-post-meta">Родился 3 июня 1990 года, Ленинский, Ильичевский райсовет, Павлодарская область, Казахская ССР</p>
        <p>С детства мальчика интересовала музыка, в 11-летнем возрасте Адиль слушал рэп, а через 4 года и сам начал писать треки.Также подросток хорошо рисовал, поэтому после окончания 9 классов школы поступил в художественный колледж, как хотел отец. Спустя два года Адиль бросил учебное заведение, поняв, что мечтает связать карьеру с музыкой.</p>
        <p>Отец был строгим и вспыльчивым, и часто на глазах у маленького сына доводил свою жену до слез. В итоге, по собственному признанию Адиля, он в детстве часто вслух желал ему смерти, но, повзрослев, об этом очень сожалел. Он отмечал, что именно от отца унаследовал любовь к музыке.</p>
        <hr>
        <h2 id="2h">Как образовалось прозвищем рэпера Скриптонит</h2>
          <p>Это слово образовано от английского «script», что означает «скрипт» или «сценарий», и русского слова «нитка». Таким образом, «Скриптонит» можно перевести как «нитка для скрипта» или «инструмент для написания кода».</p>
          <p>Этот термин стал очень популярным благодаря тому, что сегодня все больше компаний переходит на автоматизацию своих процессов и использование современных технологий.</p>
          <p>Что касается Адиля, то он берет псевдоним Скриптонит. Изначально ему просто нравилось как звучит слово. Приставку «тонит» певец прибавил после того, как ему попался на глаза очередной мультфильм про Супермена, чье слабое место по канону — криптонит. Так на свет появился псевдоним будущей звезды.</p>
          <h2 id="3h">Творчество</h2>

        <img class="img" src="static/img/sc.jpg" align="center" height="400" weight="480">
          <p>В 11 лет он «заболел» хип-хопом, увлекся творчеством <a class="celebrities" href="https://ru.wikipedia.org/wiki/Децл">Децла</a>, затем – <a class="celebrities" href="https://ru.wikipedia.org/wiki/Эминем">Эминема</a>, <a class="celebrities" href="https://ru.wikipedia.org/wiki/50_Cent" >50 Cent</a>, <a class="celebrities" href="https://ru.wikipedia.org/wiki/Snoop_Dogg">Snoop Dogg</a>, <a class="celebrities" href="https://ru.wikipedia.org/wiki/Доктор_Дре">Dr. Dre</a>. К 15 годам он уже сочинял биты и начитывал на них свои тексты. Специального музыкального образования он не получил, но играл на гитаре и переслушал массу записей разных направлений – джаз, фолк, рок, фанк, соул.</p>
          <p>Среди увлечений юного Адиля была психология, в частности, техники НЛП. Как он отмечал в интервью, «в лет пятнадцать интересно людьми управлять». В качестве запомнившихся из прочитанных в те годы книги он упоминал роман «Сияние» <a class="celebrities" href="https://ru.wikipedia.org/wiki/Кинг,_Стивен">Стивена Кинга</a>, «Крестный отец» <a class="celebrities" href="https://ru.wikipedia.org/wiki/Пьюзо,_Марио">Марио Пьюзо</a> и две-три книги <a class="celebrities" href="https://ru.wikipedia.org/wiki/Буковски,_Чарльз">Чарльза Буковски</a>.</p>


            <img class="img" src="static/img/scriptonit_029.jpg" align="right" height="350" weight="300">

          <p>Впервые рэп-музыкант вышел на сцену в 16 лет. Это событие произошло во время городского фестиваля в Павлодаре. Публика осталась в восторге от его яркого и необычного выступления, и о нем заговорили как о талантливом самородке из глубинки.</p>
          <p>В 2009 году молодой исполнитель со своим приятелем <a>Ануаром Эриковичем (Niman)</a> организовал музыкальный коллектив JILLZAY, куда кроме них вошли рэперы <a class="celebrities" href="https://vk.com/strongsymphony">Strong Symphony</a>, <a class="celebrities" href="https://vk.com/sixopublic">Six O</a>, <a class="celebrities" href="https://vk.com/truwer">Truwer</a>, <a class="celebrities" href="https://punch-line.ru/yurik-104/">Юрик Четверг</a>. Они с успехом выступали по всем городам Казахстана и презентовали ряд хитовых синглов.</p>
                <p>Певец презентовал синглы «Не добро пожаловать», «Твой», «Локоны», «Космос», «5 здесь, 5 там», «Твоя сука». В 2015 году на концерте рэпера Гуфа (Алексей Долматов) в Воронеже он, Скриптонит и Rigos (Игорь Рылов) представили совместную работу «Перспектива». Казахский исполнитель был в качестве приглашенного артиста при создании вместе с Rigos и BluntCath (Андрй Леман) песни «Случайности».</p>
                        <p>В том же году увидел свет необыкновенно эффектный дебютный диск рэпера «Дом с нормальными явлениями». Критики сравнивали его с необычным пересказом некого артхаусного кинофильма. В нем гармонично сплелись треки различных жанров – хип-хопа, трэпа с блюз-роком, вокала с невнятным нашептыванием, речитативом и выкриками. В чарте iTunes он занял второе место, уступив лишь диску британской звезды Адели, и стал первым в рейтингах от Rap.ru и The Flow. В конце 2016 года появился студийный диск «718 Jungle» его группы Jillzay (718 – это телефонный код Павлодара), в 2017 году – их же мини-альбом «Open Season», созданные с участием артиста.</p>

       <h2 id="4h">Личная жизнь Скриптонита</h2>
<img src="static/img/marta.jpg" align="right" height="180" weight="240">
        <p>Рэпер ненавидит соцсети и считает бредом стремление некоторых пользователей выставлять свои личные проблемы напоказ. На его странице ВКонтакте нет никаких сведений о частной жизни, в том числе о бывших возлюбленных. Он выкладывает в Инстаграме понравившиеся снимки, не делая никаких описаний или комментариев.</p>

        <p>В июне 2017 года он опубликовал несколько снимков своего полуторагодовалого сынишки Лучи, которого ему родила его бывшая девушка Нигора. Она – танцовщица, проживает с мальчиком в Шымкенте.</p>
        <span class="empty"><br></span>
          <span class="empty"><br></span>
          <h2 id="5h">Популярная песня Скриптонита</h2>
            <p>Скриптонит — один из самых популярных российских рэп-исполнителей, известный своим уникальным стилем и текстами, полными глубокого смысла. Каждая песню Скриптонита стоит разбирать, так как его можно не правильно понять.</p>
          <p>1) Космос </p>
             <div class="clearfix " id="s-desc" itemprop="description">
            [Скриптонит]:<br>
                 <span class="d">Ты пахнешь, как любовь.<br></span>
                    <span class="d">Ты сумасшествие с первого взгляда.<br></span>
                        <span class="d">Ты пахнешь шоколадом. Пахнешь, как цветы.<br></span>
                         <span class="empty"><br></span>
  <!-- спросить-->                          <!--img  scr="static/img/cosmos.jpg" align="center" height="300" weight="300"-->
                 <span class="d">Пахнешь, как мечты воплощаемые с нуля.<br></span>
                 <span class="d">Пахнешь, как желание - чистое животное желание;<br></span>
                 <span class="d">Но ты пахнешь на шестнадцать. Ты, как первое свидание.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Ты пахнешь так, что ты пьянишь.<br></span>
                 <span class="d">Пахнешь, как незабываемый движ.<br></span>
                 <span class="d">Пахнешь как косяк, как кило - самый благородный сорт.<br></span>
                 <span class="d">Пахнешь, как победа - ею горд. Пахнешь, как деньги.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Ты без стука открываешь двери.<br></span>
                 <span class="d">Ты можешь мне не верить, но ты пахнешь, как бензин.<br></span>
                 <span class="d">Ты можешь сжечь меня, как старый мерин.<br></span>
                 <span class="d">Воздух в моей атмосфере.</span>
                 <span class="empty"><br></span>
                 <span class="d">Пахнешь наготой, даже когда тепло одета.<br></span>
                 <span class="d">Пахнешь, как планета. Пахнешь, как космос.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Навсегда, навсегда, навсегда ли это?<br></span>
                 <span class="d">В космос ты, в космос я, навсегда ли это?<br></span>
                 <span class="d">Навсегда, навсегда, навсегда, навсегда, навсегда,<br></span>
                 <span class="d">В космос, ты в космос я, навсегда ли это?<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Навсегда, навсегда, навсегда.<br></span>
                 <span class="d">В космос ты в космос я, навсегда ли это?<br></span>
                 <span class="d">Навсегда, навсегда, навсегда, навсегда, навсегда,<br></span>
                 <span>В космос ты, в космос я.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">[Charusha]:<br></span>
                 <span class="d">Ты выглядишь, как казино.<br></span>
                 <span class="d">Я сильно задолжал, но я до сих пор бухой встреваю на zero.<br></span>
                 <span class="d">Ты выглядишь, как в кино. Ты - как рояль, но я не хочу играть в минор.<br></span>
                 <span class="d">Ты самый охраняемый банк, и жизнь кричит: "Ограбь его, на миллион!<br></span>
                 <span class="d">Нет, на все миллионы мира!"<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Ты выглядишь, как кайф. Ты, как папира.<br></span>
                 <span class="d">Выглядишь, как цацки лучших ювелиров -<br></span>
                 <span class="d">И разносишь меня в щепки, как Мортира*.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Ты, как чарты, - возносишь меня вверх.<br></span>
                 <span class="d">Джекпот! Джекпот! Ты выглядишь, как успех.<br></span>
                 <span class="d">Как 808 среди радиопомех.<br></span>
                 <span class="d">Как ствол в рот, хедшот одетый в кожу и мех.<br></span>
                 <span class="d">Как самый дикий замес!<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Ты, как страсть - это больше чем секс.<br></span>
                 <span class="d">Как стихи, как самый хитовый текст.<br></span>
                 <span class="d">Выглядишь как полюс. Ты выше, чем Эверест.<br></span>
                 <span class="d">Ты прям, как космос - это выше небес.<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Навсегда, навсегда, навсегда ли это?<br></span>
                 <span class="d">В космос ты, в космос я, навсегда ли это?<br></span>
                 <span class="d">Навсегда, навсегда, навсегда, навсегда, навсегда,<br></span>
                 <span class="d">В космос, ты в космос я, навсегда ли это?<br></span>
                 <span class="empty"><br></span>
                 <span class="d">Навсегда, навсегда, навсегда.<br></span>
                 <span class="d">В космос ты в космос я, навсегда ли это?<br></span>
                 <span class="d">Навсегда, навсегда, навсегда, навсегда, навсегда,<br></span>
                 <span class="d">В космос ты, в космос я.<br></span>
                 <span class="empty"><br></span>
                 <span class="empty"><br></span>
                 <audio src="static/audio/cosmos.mp3" controls></audio>
                 <span class="empty"><br></span>
                 <a href="https://darktexts.ru/print:page,1,363-skriptonit-charusha-kosmos.html">Версия для печати</a>

             </div>
          <p></p>
          <a href="about.html">Нажмите, да, да нажимайте, там лишь вирус</a>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">

      </nav>
    </div>
</div>
    {%endblock %}</div>>